<section class="background-dark" id="section-capabilities">
  <div class="content-wrapper-default-width">
    <h1 class="section-title">Capabilities</h1>
    <div class="gallery-text-side-by-side-container">
      <div class="gallery-images-container">
        <div class="gallery-image">
        </div>
        <div class="gallery-image">
        </div>
        <div class="gallery-image">
        </div>
        <div class="gallery-image">
        </div>
        <div class="gallery-image">
        </div>
        <div class="gallery-image">
        </div>
      </div>
      <div class="gallery-text-container">
        <p>Equipment 1</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
        do eiusmod tempor incididunt ut labore et dolore magna
        aliqua.</p>
        <p>Equipment 2</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
        do eiusmod tempor incididunt ut labore et dolore magna
        aliqua.</p>
        <p>Equipment 3</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
        do eiusmod tempor incididunt ut labore et dolore magna
        aliqua.</p>
        <p>Equipment 4</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
        do eiusmod tempor incididunt ut labore et dolore magna
        aliqua.</p>
      </div>
    </div>
  </div>
</section>