<section class="background-dark" id="section-contact-us">
  <div class="content-wrapper-default-width">
    <h1 class="section-title">Contact Us</h1>
    <div class="contact-row-1-container">
      <div class="contact-address">
        <h3>JKV ENGINEERING LLC</h3>
        <h3>789 U.S. 50</h3>
        <h3>Milford, OH 45150</h3>
        <h3>513-609-9953</h3>
      </div>
      <form action='/success' class='contact-form' method='POST' name='contact-form'><input type='hidden' name='form-name' value='contact-form' />
        <input 
          type="hidden" 
          name="subject" 
          value="JKV Engineering Website Contact Form" 
        />
        <div class="form-field-container">
          <label for="name">Name</label>
          <input name="name" type="text" required>
        </div>
        <div class="form-field-container">
          <label for="email">Email</label>
          <input name="email" type="email" required>
        </div>
        <div class="form-field-container">
          <label for="message">Message</label>
          <textarea name="message" rows="10"></textarea>
        </div>
        <input name="submit" type="submit" value="Submit" class="btn btn-default">
      </form>
    </div>
    <div class="google-map-container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1300.5705507545151!2d-84.26534586277937!3d39.16799655108178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8840550de1e47f93%3A0xfefb543e9f31f3a5!2sJKV%20Engineering!5e0!3m2!1sen!2sus!4v1673966115245!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  
</section>