<section class="background-yellow" id="section-cta-contact">
  <div class="content-wrapper-default-width">
    <h1 class="section-title">Talk to us about your next project</h1>
    <div class="center-item">
      {% include button-default-white text: "Contact Us" link_url: "#section-contact-us" %}
    </div>
  </div>
</section>