<footer class="background-dark">  
  <div id="nav-footer">
    <ul> 
      {%- for item in menu.footer -%}
      <li>
        <a href="{{ item.url }}">
          <small>{{ item.text }}</small>
        </a>
      </li>
      {%- endfor -%}
    </ul>
  </div>
  <div>
    <small>© 2023 JKV Engineering</small>
  </div>
</footer>