<footer class="background-dark">  
  <div id="nav-footer">
    <ul> 
      <li>
        <a href="/">
          <small>Home</small>
        </a>
      </li>
      <li>
        <a href="#section-services">
          <small>Services</small>
        </a>
      </li>
      <li>
        <a href="#section-projects">
          <small>Projects</small>
        </a>
      </li>
      <li>
        <a href="#section-capabilities">
          <small>Capabilies</small>
        </a>
      </li>
      <li>
        <a href="#section-our-team">
          <small>Our Team</small>
        </a>
      </li>
      <li>
        <a href="#section-contact-us">
          <small>Contact Us</small>
        </a>
      </li>
    </ul>
  </div>
  <div>
    <small>© 2023 JKV Engineering</small>
  </div>
</footer>