<nav class="nav-desktop">
  <div id="header-title">
    <h1><a href="/">JKV Engineering</a></h1>
  </div>
  <div id="nav-container">
    <ul>
      <li>
        <a href="#">
          <small>Services</small>
        </a>
      </li>
      <li>
        <a href="#">
          <small>Capabilies</small>
        </a>
      </li>
      <li>
        <a href="#">
          <small>Our Team</small>
        </a>
      </li>
      <li>
        <a href="#">
          <small>Contact Us</small>
        </a>
      </li>
    </ul>
  </div>
</nav>