<nav class="nav-desktop">
  <div id="header-title">
    <a href="/"><img class="logo-nav" src="/assets/logo-nav.png" /></a>
    
  </div>
  <div id="nav-container">
    <ul>
      <li>
        <a href="#section-services">
          <small>Services</small>
        </a>
      </li>
      <li>
        <a href="#section-capabilities">
          <small>Capabilies</small>
        </a>
      </li>
      <li>
        <a href="#section-our-team">
          <small>Our Team</small>
        </a>
      </li>
      <li>
        <a href="#section-contact-us">
          <small>Contact Us</small>
        </a>
      </li>
    </ul>
  </div>
</nav>