<div 
  class="projects-gallery-image" 
  style="
    background-image: url(/assets/images/STM_3010.jpg);
  "
>
  <a href="{{ project_url }}">
    <h3>{{ project_title }}</h3>
    <p>Brief Description</p>
  </a>
</div>