---
layout: layout.liquid
---
{% capture page_title %}{{ title }}{% endcapture %}
{% include banner-page text: page_title %}

{% capture image_url %}
/assets/images/{{ project-image }}
{% endcapture %}

<section class="content-wrapper-default-width">
  <div class="post-content-wrapper">
    <img class="hero-image" src="{{ image_url }}"/>
    {{ content }}
  </div>
  {% render button-default text: "<< Back" link_url: "/#section-projects" %}
</section>

{% include contact %}