<section id="services">
  <div class="content-wrapper-default-width">
    <h1 class="section-title">What We Do</h1>
    {%- for service in services -%}
    <div class="image-text-side-by-side-container">
      <img src="/assets/images/{{ service.image_filename }}" />
      <div class="text-container">
        <h3>{{ service.title }}</h3>
        <p>{{ service.description }}</p>
      </div>
    </div>
    {%- endfor -%}
  </div>
</section>
