<section id="section-our-team">
  <div class="content-wrapper-default-width">
    <h1 class="section-title">Our Team</h1>
    <div class="team-container">
      {%- for staff in collections.staff -%}
        {%- assign staff_name = staff.data.staff_name -%}
        {%- assign staff_title = staff.data.staff_title -%}
        {%- assign image_filename = staff.data.image_filename -%}
        {%- assign staff_page_url = staff.url -%}
        <div class="team-member-container">
          <a href="{{ staff_page_url }}">
            <img class="team-member-photo" src="/assets/images/{{ image_filename }}"/>
          </a>
          <h3>{{ staff_name }}</h3>
          <p>{{ staff_title }}</p>
        </div>
      {%- endfor -%}
  </div>
</section>