:root {
  --font-family-heading: Play, sans-serif;
  --font-family-paragraph: Archivo, sans-serif;
  --font-color-dark: #444;
  --font-color-light: #fff;
  --color-accent: #DCAB4E;
  --color-background-white: #fff;
  --color-border-dark: #aaa;
}

h1, h2, h3, h4, h5, h6,
nav {
  font-family: var(--font-family-heading);
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
	font-size: 18px;
}

.btn-default {
  font-family: var(--font-family-heading);

  background-color: var(--color-accent);
  padding: 0;

  width: 235px;
  height: 47px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  color: var(--font-color-light);
  font-weight: bold;

  border: none;
  margin: 30px 0;
}

.btn-default a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: inherit;
}

.btn-white {
  background-color: var(--color-background-white);
  color: var(--font-color-dark);
  border: solid 1px var(--color-border-dark);
}

.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.show {
  display: block;
}
.hide {
  display: none !important;
}

html, body {
  font-family: var(--font-family-paragraph);
  margin: 0;
  padding: 0;
  color: var(--font-color-dark);
}

.background-dark {
  background-color: #333;
  color: var(--font-color-light);
  box-shadow: inset 0px 0px 125px 100px rgba(0, 0, 0, 0.1);
}

.background-yellow {
  background-color: var(--color-accent);
}

.center-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 30px;
}

.logo-nav {
  width: auto;
  height: 75px;
}

#nav-desktop-container>ul {
  margin-left: 30px;
}

#nav-desktop-container>ul,
#nav-mobile-menu>ul {
  display: flex;
  gap: 30px;
  padding: 0;
  padding-right: 30px;
}

#nav-desktop-container>ul>li {
  list-style-type: none;
  font-size: 1.2em;
  font-weight: bold;
}

#nav-desktop-container a,
#nav-mobile-container a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--font-color-dark);
}

#nav-desktop-container a:hover,
#nav-footer a:hover {
  text-decoration: underline;
}

#nav-mobile-container {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #fff;
  padding: 15px;
  margin: 5px;
  border: solid 1px #ddd;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transition: width 1s, height 1s;
}

.nav-mobile-icon {
  display: block;
  text-align: right;
}

#nav-mobile-menu {
  display: none;
}

#nav-mobile-menu>ul>li {
  list-style-type: none;
  font-size: 1.5em;
  margin: 10px 15px;
}

#nav-mobile-menu>ul {
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 15px 0 30px;
}

#nav-footer>ul {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 0;
}
#nav-footer>ul>li {
  list-style-type: none;
}
#nav-footer a {
  text-decoration: none;
  color: var(--font-color-light);
}


footer {
  text-align: center;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  padding: 60px 0;
}
.content-wrapper-default-width {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.section-banner {
  padding: 90px 120px;
}
.banner-page {
  padding: 60px 0;
}
.section-banner h1 {
  font-size: 1.8em;
  text-transform: uppercase;
}
.banner-page h1 {
  text-align: center;
}
.section-banner h2 {
  font-size: 1.5em;
}

/* SERVICE */

.image-text-side-by-side-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 30px;
  margin: 30px 0;
}

.image-text-side-by-side-container img {
  background-color: #aaa;
  max-width: 300px;
  height: auto;
}
.image-text-side-by-side-container p,
.image-text-side-by-side-container h3 {
  margin-top: 0;
}

/* PROJECTS */

.projects-gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}
.projects-gallery-image {
  min-width: 240px;
  min-height: 240px;
  background-color: #aaa;
  background-size: cover;
  background-position: center;
  filter: brightness(.8);
  z-index: 1;
  transition: transform 0.3s;
}

.projects-gallery-image:hover {
  transform: scale(1.05);
  filter: brightness(1);
  z-index: 2;
}
.projects-gallery-image a {
  text-decoration: none;
  color: var(--font-color-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
.projects-gallery-image h3 {
  margin: 0;
}

/* CAPABILITIES */

.gallery-text-side-by-side-container {
  display: grid;
  grid-template-columns: 315px 1fr;
  gap: 30px;
}

.gallery-images-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.gallery-image {
  width: 150px;
  height: 150px;
  background-color: #aaa;
}

/* OUR TEAM */

.team-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.team-member-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  max-width: 250px;
}
.team-member-container h1,
.team-member-container p {
  margin: 10px 0;
}
.team-member-photo {
  background-color: #ccc;
  width: 200px;
  min-height: 150px;
  height: auto;
}

/* CONTACT */

.form-field-container {
  margin: 15px 0;
}
.contact-form label {
  display: block;
  font-family: var(--font-family-heading);
  text-transform: uppercase;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 5px;
}
.contact-row-1-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 30px;
  width: 100%;
}
.google-map-container {
  margin: 30px 0;
  width: 100%;
}
.google-map-container iframe {
  width: 100%;
}

/* SINGLE PAGE */

.hero-image {
  max-width: 100%;
  margin: 30px 0;
}
.post-content-wrapper {
  width: 100%;
}

.post-content-wrapper p,
.post-content-wrapper table {
  max-width: 600px;
  margin: 30px auto;
}

.post-content-wrapper p>img {
  width: 100%;
}

/* TEAM MEMBER */

.portrait-image {
  display: block;
  max-width: 400px;
  margin: 60px auto 30px auto;
}
.staff-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.staff-info-container h1,
.staff-info-container h3 {
  margin: 5px auto;
}

@media screen and (max-width: 780px) {
	#nav-desktop-container {
		display: none;
	}
  #nav-mobile-container {
    display: block;
  }
	.nav-container {
		justify-content: center;
	}
	#section-banner {
		padding-left: 10px;
		padding-right: 10px;
	}
	.image-text-side-by-side-container {
		grid-template-columns: 1fr;
	}
	.gallery-text-side-by-side-container {
		grid-template-columns: 1fr;
	}
  .gallery-image {
		width: 100%;
	}
	.team-container {
		grid-template-columns: 1fr;
	}
	.contact-row-1-container {
		grid-template-columns: 1fr;
	}
  .projects-gallery-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }
  .projects-gallery-image {
    max-width: 600px;
    max-height: 600px;
    width: 100%;
    background-color: #aaa;
    margin: auto;
  }
}

