:root {
  --font-family-heading: Play, sans-serif;
  --font-family-paragraph: Archivo, sans-serif;
  --font-color-dark: #444;
  --font-color-light: #fff;
  --color-accent: #DCAB4E;
}

h1, h2, h3, h4, h5, h6,
nav {
  font-family: var(--font-family-heading);
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
	font-size: 18px;
}

.btn-default {
  font-family: var(--font-family-heading);

  background-color: var(--color-accent);
  padding: 3px 22px 0px;

  width: 235px;
  height: 47px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  color: var(--font-color-light);

  border: none;
  margin: 30px 0;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

html, body {
  font-family: var(--font-family-paragraph);
  margin: 0;
  padding: 0;
  color: var(--font-color-dark);
}

.background-dark {
  background-color: #333;
  color: var(--font-color-light);
  box-shadow: inset 0px 0px 125px 100px rgba(0, 0, 0, 0.1);
}

.center-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 30px;
}

.logo-nav {
  width: auto;
  height: 75px;
}

#nav-desktop-container>ul {
  display: flex;
  gap: 30px;
  padding: 0;
  padding-right: 30px;
}

#nav-desktop-container>ul>li {
  list-style-type: none;
  font-size: 1.2em;
  font-weight: bold;
}

#nav-desktop-container a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--font-color-dark);
}

#nav-desktop-container a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 30px 0;
}

section {
  padding: 60px 0;
}

.content-wrapper-default-width {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}
.section-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}

#section-banner {
  padding: 90px 120px;
}

#section-banner h1 {
  font-size: 1.8em;
  text-transform: uppercase;
}
#section-banner h2 {
  font-size: 1.5em;
}

/* SERVICE */

.image-text-side-by-side-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 30px;
  margin: 30px 0;
}

.image-container {
  background-color: #aaa;
  min-width: 300px;
  height: 300px;
}

/* CAPABILITIES */

.gallery-text-side-by-side-container {
  display: grid;
  grid-template-columns: 315px 1fr;
  gap: 30px;
}

.gallery-images-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.gallery-image {
  width: 150px;
  height: 150px;
  background-color: #aaa;
}

/* OUR TEAM */

.team-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.team-member-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-member-photo-container {
  background-color: #ccc;
  width: 200px;
  height: 200px;
}

/* CONTACT */

.form-field-container {
  margin: 15px 0;
}
.contact-form label {
  display: block;
  font-family: var(--font-family-heading);
  text-transform: uppercase;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  box-sizing: border-box;
  margin: 5px 0;
}
.contact-row-1-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 30px;
}
.google-map-container {
  margin: 30px 0;
}
.google-map-container iframe {
  width: 100%;
}

@media screen and (max-width: 780px) {
	#nav-desktop-container {
		display: none;
	}
	.nav-container {
		justify-content: center;
	}
	#section-banner {
		padding-left: 10px;
		padding-right: 10px;
	}
	.image-text-side-by-side-container {
		grid-template-columns: 1fr;
	}
	.gallery-text-side-by-side-container {
		grid-template-columns: 1fr;
	}
  .gallery-image {
		width: 100%;
	}
	.team-container {
		grid-template-columns: 1fr;
	}
	.contact-row-1-container {
		grid-template-columns: 1fr;
	}
}
